
body {
    margin: 0;
    text-align: center;
    background-color: #1b244a;
}

h2 {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 155px;
    margin: 24px;
   padding-top:15px;
   padding-bottom: 15px;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color:#eee;
    margin:0;
}
.container {
    display: flex;
    justify-content: space-around;
}

button {
    background: none;
    font-family:Georgia, 'Times New Roman', Times, serif Geneva, Tahoma, sans-serif;
    font-size: 26px;
color:#9AABD8;
border-radius: 5px;
border-color: #9AABD8;
margin-left:11px ;
}
.buttons{
    width:155px;
    height: 45px;
   display: flex;
    justify-content: space-around;   
}